<form role="form" ng-controller="UploadCtrl">
  <body ng-app="clientApp" ng-controller="UploadCtrl">
    <h4>Выберете файл</h4>
    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            accept="*/*" ngf-max-height="1000" ngf-max-size="15MB">
        Select File</button>
    <br><br>
    Файл:
    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
            <div style="width:{{f.progress}}%"
                 ng-bind="f.progress + '%'"></div>
        </span>
    </div>
    {{errorMsg}}
  </body>
  <input type="submit" class="btn btn-primary" ng-click="saveWebm()" value="Save"/>
</form>
