<a class='btn btn-primary' href="/#/create/webm"><span class="glyphicon glyphicon-plus"></span> Добавить вебм</a>
<br>
<table class="table table-striped" ng-app="clientApp" ng-controller="WebmsCtrl">
  <thead>
    <th>Название</th>
    <th>   </th>
    <th>Действия</th>
  </thead>
  <tbody>
    <tr ng-repeat='webm in webms'>
      <td>{{ webm.title }}</td>
      <td><a class='btn btn-primary' ng-href="/#/webm/{{webm._id}}"><span class="glyphicon glyphicon-film"></span> Смотреть</a></td>
      <td>
        <div class="button-group">
          <a ng-href="/#/webm/{{webm._id}}/delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
